/* Navigation bar */
.closeheads img{
    width: 100px;
}
    .topnav {
        text-transform: uppercase;
        font-size: large;
        font-family:  'Exo', sans-serif;
        list-style-type: none ;
        overflow:hidden;
        background-color: black;
        padding: 0px;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        text-decoration: none;
        color: white;
         }   
        .navig1{
            color: white;
            text-decoration: none;
        }
    .topnav img{
        width: 4em;
        padding-top: 0.3em;
    }

    h1,h3,h2,h4{
        color: white;  
        font-family:  'Exo', sans-serif;
} 
    
    .closeheads{font-size: 15px ;
        color: #c49b63;
        padding-bottom: 0%;
        line-height: 10px;
         display: block;
         text-align: center;
    }

  .topnav  li{
        float:left;
        padding-left: 25px;
    }

   .topnav li a{
        display: block;
        text-align: center;
        padding: 25px 30px;
    }
    .topnav li a:hover{
        color: #c49b63;
        text-decoration: none;
    }
    .topnav{
        margin: 0em;
    }


/* navbar in mobile screen */
@media screen and (max-width:600px)
{
    body{
        width: 100%;
        position:static;
    }
    nav{
   
        width: 100%;
        overflow-x:hidden ;
        margin: 0em;
    
    }
   
    .topnav img{
        width: 7em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        float: left;
      
        
    }
    .topnav{
        display: block;
        padding-bottom: 1em;
        padding-top: 1em;
        position: relative;
    }

    .topnav  li {
        float: none;
        padding: 0em;
        
      
       
    }
    .topnav  li a {
        font-size: 0.6em;
        padding: 0em;
        margin: 0em;
        text-align: right;
        padding-right: 2em;
    
    }
     .topnav{
        display:block;  
     }

     .main{
        margin: 0em 0em 0em 0em;
     }
    }
