
  

    /* Adding a font from google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
      
    body{
        overflow-x: hidden;
        margin: 0;
        color: white; 
        font-family:'Exo', sans-serif;
        background-image: url(https://images.unsplash.com/photo-1529753253655-470be9a42781?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
        background-repeat:repeat-y;
        background-size: cover;
    
    }


    .main{   
        margin-top: 96px;
        }

    .newfont{
        font-family:'Exo', sans-serif;}
    .black{
        color: black;
        font-weight: 500;
    }
    .white{
        color: white;
    }
    .clingHeads p{
       line-height: 0px;
    }
    .headcenter{
        text-align: center;
    }

    .subheading{
        margin-top: 0; margin-bottom: 40px;
        text-align: center;

    }

    /* .material-icon{
        color: #c49b63;
    }
 */
        /* adding special font */
        .curvey{
            font-family:'Great Vibes', cursive;
             color: #c49b63;

        }

        /* Image Slider */

        .carousel-item{
            height: 100%;
            padding: 0em;
            margin: 0em;
        }
        .curvey {
            font-family: "Great Vibes",cursive;
            font-size: 40px;
            color: #c49b63;

        }
        .carousel-caption {
            position: absolute;
            bottom: 70%;
            padding: 0em;
            left: 20%;
            color: white;
            text-shadow: 0 1px 2px rgba(0,0,0,.6);
        }


        /* Styling open hour section */

        .section1{
            background-color: black;
            text-align: center;
            padding-top: 40px ;
             height: 350px;
        }

        /* Styling OUR STORY section*/
        .section2{
            background-image: url(https://images.unsplash.com/photo-1471440671318-55bdbb772f93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
           background-size: cover;
           background-attachment: fixed;
        }
             .ourstory-text {
                opacity: 0.8;
               text-align: justify;
                background-color: black;
                color: white;
                padding: 5% 30% ;
             }

        /* Styling OUR SERVICES    */
        .section3{
            background-color:#c49b63; 
            width: 100%;
            height: 180%;
            padding-top: 40px;
        }

        .service-boxes{
            display: flex;
        }

        .box1 ,.box2, .box3{
            margin: 40px 127px 40px 127px ;
        }
    
        .service-boxes img{
            width: 100%;
            height: auto;
        
            position: relative;
            z-index: 0;
            border: 2px solid black;
            padding: 7%;
        }
        .service-boxes img:hover {
            transform: rotate(360deg);
            transition: all 1s ease;

        }

        
        /* Styling location section */
        .section4{
            
            background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80);
            background-size:cover;
            background-attachment: fixed;
            width: 100%;
            height: 300%;
            padding-top: 100px;
            padding-bottom: 100px;

        }
        .location-container{
            display: flex;
            padding-bottom: 10%;


        }

      
        .location-map{
            padding-left: 200px;
            padding-top: 40px;
        }

        .location-map iframe{
            width: 150%;
            height: 150%;
            border: 1px solid black; 
            border-radius: 50px;
        }
        
        .location-text{
            color: white; 
            font-weight:bold;
            padding-left: 20%;
            padding-top: 120px;
        }
        .textshadow{
          text-align: center; text-shadow: 2px 1px 2px black;
        }


        /* Styling the footer */

        footer{
            color: #c49b63;
            background-color: black;
            height: 250px;
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }
        
        
       footer ul{
            list-style-type: none;
            display: flex;
            padding-inline-start: 0px;
            text-align: center;
            margin: 0em;
        }


       #smallicon{

            line-height: 1.5em;
            font-size: 13px;
        }


        footer h5{
            font-size: 16px;
            margin:auto;
            margin-bottom: 10px;

        }
        .footerli{
          margin: 40px 110px 40px 110px;
        }
      
        /* styling social media ions  */
 
            
        .circle{
            border-radius: 50%;
            margin: 0.15em;
            font-size: 2em;
            }
    
        .fa-twitter{

        border: 1px solid  #c49b63;
        color:  #c49b63;;
        padding: 0.15em 0.17em;
            }

        .fa-google-plus{
        border: 1px solid  #c49b63;
        color:  #c49b63;;
        padding: 0.15em 0.17em;
        } 
        .fa-facebook{
            border: 1px solid #c49b63;
            color: #c49b63;
            padding: 0.15em 0.45em;

        } 

        .fa-twitter:hover{

            background:  #c49b63;
            color: black; 
        
        }
        .fa-google-plus:hover{
            background:  #c49b63;
            color: black; 
        
        }
        .fa-facebook:hover{
            background:  #c49b63;
            color: black; 
        
        }




        footer .li3{
            text-align: left;
            font-size: 13px;
        }


/* navbar in mobile screen */
@media screen and (max-width:600px)
{
    body{
        width: 100%;
        position:static;
    }

     
        /* Image Slider */

        .carousel-item{
            height: 100%;
            padding: 0em;
            margin: 0em;
            font-size: 1em;
        }
    
        .carousel-caption {
         
            bottom: 60%;
            padding: 0em;
            left: 20%;
            color: white;
            text-shadow: 0 1px 2px rgba(0,0,0,.6);
        }
        .carousel-caption h3{
            font-size: 0.7em;
        }
        .carousel-caption .curvey{
            font-size: 2em;
        }

   
        /* our story */
   
        .ourstory-text {
           
            
           
            padding: 10% 20% ;
         }
                 
            .ourstory-text .subheading{
            margin-bottom: 0.3em;

            }
            .ourstory-text h3{
                font-size: 1.2em;
                
            }
            .ourstory-text .newfont{
                font-size: 0.85em ;
                text-align: justify;
            }
            

          
            
            /* our services */
            .service-boxes{
                display: block;
                align-self: center;
                padding-bottom: 2em;
            }
            .box1,.box2,.box3{
                margin: 0em 0em 0em 0em;
                text-align: center;

            }
            .service-boxes img{
                width: 25%;
                height: auto;
            }
            .service-boxes p{
                padding-left: 5em;
                padding-right: 5em;
            }

            /* location */

            .location-container{
                display: block;
            }
            .location-map{
                padding-left: 4%;
                padding-right: 4%;
            }
            
            .location-map{
                padding: 0em;
                text-align: center;
            }
    
            .location-map iframe{
                width: 80%;
                border: 1px solid black; 
                border-radius: 50px;
            }
            .location-text{
                padding: 0em;
                text-align: center;
            }

           
}












